.navTeam {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-brand {
	margin-right: 0 !important;
}

.navbar {
	background: #1c6b9c;
}

nav {
	height: 70px;
}
/* Agrega estilos personalizados aquí si es necesario */
#sidebar {
	max-width: 200px; /* Ajusta el ancho máximo del panel izquierdo según tus necesidades */
}

#menuIcon {
	transition: transform 0.3s ease-in-out; /* Agrega una animación suave al botón de hamburguesa */
}

#sidebar.hidden {
	transform: translateX(
		-100%
	); /* Mueve el panel izquierdo fuera de la pantalla cuando está oculto */
}

#blurSearch {
	border: 1px solid #ccc; /* Añade un borde a la barra de búsqueda */
	/* Fondo tipo mica */
    background: rgba(255, 255, 255, 0.1);
    /* Placeholder blanco */
    color: #fff;
    text-align: center;
}

#blurSearch::placeholder {
    color: #fff;
    text-align: center;
}

